@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
:root{
    --blackRussian: #1f1f26;
    --greyWhite: #f9f9f9;
    --pacificBlue: #1ca9c9;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    line-height: 1.6;
 
    background: linear-gradient(to right,#9b9c9c, rgb(19, 18, 18),Black,#D1D3D4);
   
}
.container{
    
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 25%;
    left: 23%;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #f1e6ee;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #daebbc;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #ecb5b5;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #85dfe2;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
.align-center
{
    
    display: grid;
    line-height: 2.5;
    background: rgba(0, 0, 0, 0.1);
   
}
figure{
    display: grid; 
    margin: 0 100px;
}
figcaption.text-center{
    margin: 0px 40px 40px 40px;
    border-radius: 5%;
    width: 250px;
    margin-left: 24%;
    margin-top: -2%;
   
}
section{
    text-align:center;
  }
  .footer #button{
      width:35px;
      height:35px;
      border: rgba(58, 56, 56, 0.8) 12px solid;
      border-radius:35px;
      margin:0 auto;
      position:relative;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
  
   
  
     text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
  }
  .footer #button:hover{
      width:35px;
      height:35px;
      border: #3A3A3A 12px solid;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      position:relative;
  }
  .footer {
      bottom:0;
      left:0;
      position:fixed;
      width: 100%;
      height: 2em;
      overflow:hidden;
      margin:0 auto;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      z-index:999;
  }
  .footer:hover {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      height: 8em;
  }
  .footer #container{
margin-top:5px;
 width:100%;
  height: 100%;
    position:relative;
    top:0;
    left:0;
       background: rgba(0, 0, 0, 0.5);

  }
  .footer #cont{
    position:relative;
    top:-45px;
    right:190px;
      width:150px;
      height:auto;
      margin:0 auto;
      text-align: center;
  }
  .footer_center{
      width:500px;
      float: right;
    text-align:center;
    margin-left: 40%;
  }
  .footer ul{
      display: flex;
      font-family: 'Helvetica';
      font-size: 30px;
      font-weight: 100;
      margin-top:70px;
      margin-left:40px;
      list-style: none;
  
      ;
      
     
 
      
  }
  .footer li{
      margin: 0 40px;

  }
  .bk{
    
    margin: 0px;
    padding: 0px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
  

  }
 
  .type_bk{
    position: relative;

    display: grid;
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 2;
   
  }
  p, h2{
    font-family: 'Codystar';
  }
  .align-centerprofile{
      font-size: 25px;
      color: white;
      background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(2.jpg);
      background-size: cover;
      border-radius: 5%;
      margin-top: -20%;
      margin-left: 2%;
      text-align: right;
    
    
  }
  td.pf input{
    
      font-size: 25px;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 25px;
      color: white;
      text-shadow:0 0 3px #ffa500, 0 0 5px #ffa500, 0 0 20px #ffa500, 0 0 10px #ffa500, 0 0 10px #ff0000, 0 0 10px #ff8d00, 0 0 10px #ff0000; ;

  }
  td.pf1 input{
  
    font-size: 20px;
    background:rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
    color: white;



}
.datatable1,
.datatable2{
    margin-top: -20%;
   
}
.detail{
    color: white;
    position: relative;
    top: 50%;
    left: 20%;
    font-size: 30px;
    background:rgba(0, 0, 0, 0.3);
}
input{
    height: 30px;
    
}
input.a{
    size: 30px;
}


.datatable_1{
    margin-top: -5%;
    background: linear-gradient(to right,#9b9c9c, rgb(19, 18, 18),Black,#D1D3D4);
     color: white;
     text-shadow:0 0 3px #ffa500, 0 0 5px #ffa500, 0 0 20px #ffa500, 0 0 10px #ffa500, 0 0 10px #ff0000, 0 0 10px #ff8d00, 0 0 10px #ff0000; ;
}



  






